%tr
  %td= link_to name, edit_order_path(model)
  %td= to_state
  %td= to_date created_at
  %td.width-50
    = form_tag order_path(model), method: :delete, 'data-index': model.id, class: 'swal-form-js display-none' do
      .clearfix
    %i.fa.fa-trash.swal.btn.btn-danger{ 'data-index': model.id, 'data-placement': 'left', 'data-toggle': 'delete-subscription-tooltip', title: I18n.t('action.destroy') }
      = I18n.t('action.destroy')
    = link_to cancel_order_path(model), class: 'btn btn-warning' do
      %i.fa.fa-ban
      = I18n.t('action.cancel')
    = link_to reopen_order_path(model), class: 'btn btn-info' do
      %i.fa.fa-repeat
      = I18n.t('action.reopen')
    = link_to invoice_order_path(model), class: 'btn btn-primary' do
      %i.fa.fa-cc-stripe
      = I18n.t('action.invoice')
    = link_to clone_order_path(model), class: 'btn btn-default' do
      %i.fa.fa-clone
      = I18n.t('action.clone')
    = link_to copy_order_path(model), class: 'btn btn-default' do
      %i.fa.fa-files-o
      = I18n.t('action.copy_info')
