%nav.navbar-default.navbar-static-side
  .sidebar-collapse
    %ul#side-menu.nav.metismenu
      %li.nav-header
        .dropdown.profile-element
          %span
            = image_tag image_path('logo.png'), class: 'sidebar-logo'
          = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
            %span.clear
              %br
              %span.text-muted.text-xs.block
                = t('leftsidebar.actions')
                %b.caret
          %ul.dropdown-menu.animated.fadeInRight.m-t-xs
            - if current_user
              %li= link_to t('leftsidebar.logout'), destroy_user_session_path, method: :delete
            - else
              %li= link_to t('leftsidebar.login'), new_user_session_path
              %li= link_to t('leftsidebar.signup'), new_registration_path(:user)

        = render 'layouts/partials/user_menubar'
