%nav.navbar-default.navbar-static-side
  .sidebar-collapse
    %ul#side-menu.nav.metismenu
      %li.nav-header
        .dropdown.profile-element
          %span
          = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
            %span.clear
              %span.block.m-t-xs
                %strong.font-bold= 'Full name'
              %span.text-muted.text-xs.block
                = 'Country'
                %b.caret
          %ul.dropdown-menu.animated.fadeInRight.m-t-xs
            %li
              = link_to 'Profile', '#'
            %li.divider
            %li
              = link_to 'Logout', '#', method: :delete
        .logo-element
          %ul#side-menu.nav.metismenu
            %li.nav-header
              %li= 'asd'

        = render 'layouts/partials/user_menubar'
