.row
  %p= I18n.t('devise_views.signup.header')
  %br
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    .form-group
      = f.text_field :first_name, autofocus: true, placeholder: :first_name, class: 'form-control'
    .form-group
      = f.text_field :last_name, autofocus: true, placeholder: :last_name, class: 'form-control'
    .form-group
      = f.email_field :email, placeholder: 'example@gmail.com', class: 'form-control'
    .form-group
      = f.text_field :phone_number, placeholder: '+15557374444', class: 'form-control'
    .form-group
      = f.password_field :password, autocomplete: 'off', placeholder: :password, class: 'form-control'
    .form-group
      = f.password_field :password_confirmation, placeholder: :password_confirmation, autocomplete: 'off', class: 'form-control'
    .form-group.text-left
      = f.select :country_id, options_from_collection_for_select(Country.with_us_and_uk_first, 'id', 'name'), {prompt: I18n.t('devise_views.signup.country_promt')}, {class: 'select2_demo_1 form-control'}
    .form-group.text-center
      = f.submit I18n.t('devise_views.shared_links.signup'), class: 'btn btn-primary block full-width m-b'
    .form-group
      = render "devise/shared/links"
